<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>aside-mammon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>body { margin: 0 }</style>
  </head>
  <body>
    <a id="tanx-a-mm_41374337_512500096_108877200040"></a>
    <script type="text/javascript">
      tanx_s = document.createElement("script");
      tanx_s.type = "text/javascript";
      tanx_s.charset = "gbk";
      tanx_s.id = "tanx-s-mm_41374337_512500096_108877200040";
      tanx_s.async = true;
      tanx_s.src = "https://p.tanx.com/ex?i=mm_41374337_512500096_108877200040";
      tanx_h = document.getElementsByTagName("head")[0];
      if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);
    </script>
  </body>
</html>
