*, *:hover {
  @include transition(background-color .25s linear,
                      color .05s linear,
                      opacity .25s linear,
                      filter .25s linear,
                      visibility .25s linear,
                      transform .25s linear);
}

.radio, .checkbox {
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.container {
  width: $container-width;
  margin: 0 auto;
}
