@font-face {
  font-family: 'iconfont';  /* project id："64825" */
  src: url('//at.alicdn.com/t/font_jgc3y56rxtdfgvi.eot');
  src: url('//at.alicdn.com/t/font_jgc3y56rxtdfgvi.eot') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_jgc3y56rxtdfgvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_jgc3y56rxtdfgvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_jgc3y56rxtdfgvi.svg#iconfont') format('svg');
}

@import url("//at.alicdn.com/t/font_jgc3y56rxtdfgvi.css");

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
