// container
$container-width: 75em;
$body-bg: #eee;

//Other
$navbar-height: 4em;


//Basic stylings
$br: 4px;
$xs-pad: 4px;
$sm-pad: 8px;
$md-pad: 16px;
$lg-pad: 20px;
$xlg-pad: 40px;
$trans: .3s;

//Breakpoints
$small-breakpoint: 400px;
$large-breakpoint: $container-width;

//Colors
$primary: #2196f3;
$accent: #64ffda;
$red: #f44336;
$yellow: #ffeb3b;
$grey: #efefef;
$white: #fff;
$black: #000;

//Text
$text: rgba(0, 0, 0, .8);
$secondary: rgba(0, 0, 0, .54);
$disabled: rgba(0, 0, 0, .38);
$dividers: rgba(0, 0, 0, .12);

//Links
$link-color: $primary;
$link-hover-color: darken($link-color, 15%);

//Font
$sans-serif: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
$serif: Georgia, Times, 'Times New Roman', serif;
$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family: $sans-serif;

//Typography
$font-size-base: 14px;
$font-size-large: 1.2em;
$font-size-small: .85em;
$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.2em;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-small;
$line-height-base: 1.4;

$border: 1px solid $dividers;
