# .eslintignore

node_modules

build/*.js
# config/*.js

*.discard

static/*
static/*.js

.deploy/*

.nuxt
.nuxt/*
.nuxt/*.js

services/scroller.ts

plugins/ga.js
plugins/copy-right.js
plugins/baidu-seo-push.js
