@charset "UTF-8";

// variables
@import "variables.scss";

// mixins
@import "mixins.scss";

// css reset
@import "marx/marx.scss";

// Iconfont
@import "iconfont.scss";

// Common style
@import "common.scss";
