// font-display: https://developer.mozilla.org/zh-cn/docs/Web/CSS/@font-face/font-display

@font-face {
  font-family: SpecialSymbol;
  src: local('PingFang SC'), local('Microsoft Yahei');
  unicode-range: U+02C2, U+02C3, U+003C, U+003E, U+3009;
}

@font-face {
  font-display: swap;
  font-family: Monda;
  src: url('/fonts/Monda-Regular.ttf');
  unicode-range: U+21-3B, U+3D, U+3F-5F, U+61-7D;
}

@font-face {
  font-display: swap;
  font-family: DINRegular;
  src: url('/fonts/DIN-Regular.ttf');
  // CSS Unicode Range Generator https://codepen.io/elifitch/pen/Ljqway
  // abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/.=-;',?!#@$%^&*()_+\|:"[]{}
  unicode-range: U+21-3B, U+3D, U+3F-5F, U+61-7D;
}

@font-face {
  font-display: swap;
  font-family: 'SFMono-Regular';
  src: url('/fonts/SFMonoRegular.otf') format('opentype');
}

// https://www.iconfont.cn/webfont#!/webfont/index

// 阿里巴巴-普惠体-Medium
/* ，、；。來蘇之望来苏之望欢喜勇猛向死而生明殿宁静寺丹青阁无色庵丹青阁狂浪生茫涯善巧堂四方馆淘抢购弹性主机客户端周边云上爆款群贤毕至凡心所向素履以往生如逆旅一苇以航此心光明亦复何言亲身体验真实不虚手动维护未用不推为我一挥手如临万壑松内推找我绝对靠谱一手人脉假一陪万赠吾玫瑰手留余香万物之中希望至美之物永不凋零 */
@font-face {
  font-family: 'webfont-medium';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_eiruj5twe45.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_eiruj5twe45.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_eiruj5twe45.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_eiruj5twe45.woff') format('woff'),
    /* chrome、firefox */ url('//at.alicdn.com/t/webfont_eiruj5twe45.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/webfont_eiruj5twe45.svg#AlibabaPuHuiTiM') format('svg'); /* iOS 4.1- */
}

// 阿里巴巴-普惠体-Bold
/* ，、；。来苏之望明殿宁静寺丹青阁无色庵丹青阁狂浪生茫涯善巧堂四方馆淘抢购弹性主机客户端周边云上爆款群贤毕至众里寻他我已不再人面桃花山河入梦春尽江南富强民主文明和谐自由平等公正法治爱国敬业诚信友善路为纸地成册行作笔心当墨思无界行有疆本是浪蝶游蜂自留半亩石池但求直抒胸臆挥墨迈步九云之中 */
@font-face {
  font-family: 'webfont-bolder';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_4pctc6z0t24.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_4pctc6z0t24.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_4pctc6z0t24.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_4pctc6z0t24.woff') format('woff'),
    /* chrome、firefox */ url('//at.alicdn.com/t/webfont_4pctc6z0t24.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/webfont_4pctc6z0t24.svg#Alibaba-PuHuiTi-Bold') format('svg'); /* iOS 4.1- */
}
