// font-display: https://developer.mozilla.org/zh-cn/docs/Web/CSS/@font-face/font-display

@font-face {
  font-family: SpecialSymbol;
  src: local('PingFang SC'), local('Microsoft Yahei');
  unicode-range: U+02C2, U+02C3, U+003C, U+003E, U+3009;
}

@font-face {
  font-display: swap;
  font-family: Monda;
  src: surl('/fonts/Monda-Regular.ttf');
  unicode-range: U+21-3B, U+3D, U+3F-5F, U+61-7D;
}

@font-face {
  font-display: swap;
  font-family: DINRegular;
  src: surl('/fonts/DIN-Regular.ttf');
  // CSS Unicode Range Generator https://codepen.io/elifitch/pen/Ljqway
  // abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/.=-;',?!#@$%^&*()_+\|:"[]{}
  unicode-range: U+21-3B, U+3D, U+3F-5F, U+61-7D;
}

@font-face {
  font-display: swap;
  font-family: 'SFMono-Regular';
  src: surl('/fonts/SFMonoRegular.otf') format('opentype');
}

// 阿里巴巴普惠体 2.0 65 Medium
// https://www.iconfont.cn/fonts/detail?cnid=adI1E7HF7yme
// ，、；。来苏來蘇之望斯是陋室唯吾芳馨余之芳苑欢喜勇猛向死而生明殿宁静寺丹青阁无色庵丹青阁狂浪生茫涯善巧堂四方馆淘抢购弹性主机客户端周边云上爆款凡心所向素履以往生如逆旅一苇以航此心光明亦复何言亲身体验真实不虚手动维护未用不推为我一挥手如临万壑松赠吾玫瑰手留余香万物之中希望至美之物永不凋零数字藏品旷古无两数字典藏大千同在万象共栖
@font-face {
  font-family: 'webfont-medium';
  font-display: swap;
  src:
    surl('/webfont-medium/font.woff2?t=230803') format('woff2'),
    surl('/webfont-medium/font.woff?t=230803') format('woff');
}

// 阿里巴巴普惠体 2.0 95 ExtraBold
// https://www.iconfont.cn/fonts/detail?cnid=adI1E7HF7yme
// ，、；。来苏之望明殿宁静寺丹青阁无色庵丹青阁狂浪生茫涯善巧堂四方馆弹性主机客户端捐赠赞助周边云上爆款众里寻他我已不再人面桃花山河入梦春尽江南富强民主文明和谐自由平等公正法治爱国敬业诚信友善路为纸地成册行作笔心当墨思无界行有疆本是浪蝶游蜂自留半亩石池但求直抒胸臆挥墨迈步九云之中藏品经大千万象界
@font-face {
  font-family: 'webfont-bolder';
  font-display: swap;
  src:
    surl('/webfont-bolder/font.woff2?t=230803') format('woff2'),
    surl('/webfont-bolder/font.woff?t=230803') format('woff');
}
