// font-display: https://developer.mozilla.org/zh-cn/docs/Web/CSS/@font-face/font-display

@font-face {
  font-family: SpecialSymbol;
  src: local('PingFang SC'), local('Microsoft Yahei');
  unicode-range: U+02C2, U+02C3, U+003C, U+003E, U+3009;
}

@font-face {
  font-display: swap;
  font-family: Monda;
  src: url('/fonts/Monda-Regular.ttf');
  unicode-range: U+21-3B, U+3D, U+3F-5F, U+61-7D;
}

@font-face {
  font-display: swap;
  font-family: DINRegular;
  src: url('/fonts/DIN-Regular.ttf');
  // CSS Unicode Range Generator https://codepen.io/elifitch/pen/Ljqway
  // abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/.=-;',?!#@$%^&*()_+\|:"[]{}
  unicode-range: U+21-3B, U+3D, U+3F-5F, U+61-7D;
}

@font-face {
  font-display: swap;
  font-family: 'SFMono-Regular';
  src: url('/fonts/SFMonoRegular.otf') format('opentype');
}

// https://www.iconfont.cn/webfont#!/webfont/index

// 阿里巴巴-普惠体-Regular
/* 來蘇之望来苏之望欢喜勇猛向死而生明殿宁静寺丹青阁无色庵乐斋狂浪生德道四方馆淘抢购弹性主机客户端念狂夢猖为我一挥手如临万壑松，、；。 */
@font-face {
  font-family: 'webfont-normal';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_xwp0p4w7g8o.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_xwp0p4w7g8o.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_xwp0p4w7g8o.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_xwp0p4w7g8o.woff') format('woff'),
    /* chrome、firefox */ url('//at.alicdn.com/t/webfont_xwp0p4w7g8o.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/webfont_xwp0p4w7g8o.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
}

// 阿里巴巴-普惠体-Medium
/* 來蘇之望来苏之望欢喜勇猛向死而生明殿宁静寺丹青阁无色庵乐斋狂浪生德道四方馆淘抢购弹性主机客户端念狂夢猖为我一挥手如临万壑松，、；。 */
@font-face {
  font-family: 'webfont-medium';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_iy8n3fx294e.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_iy8n3fx294e.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_iy8n3fx294e.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_iy8n3fx294e.woff') format('woff'),
    /* chrome、firefox */ url('//at.alicdn.com/t/webfont_iy8n3fx294e.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/webfont_iy8n3fx294e.svg#AlibabaPuHuiTiM') format('svg'); /* iOS 4.1- */
}

// 阿里巴巴-普惠体-Bold
/* 来苏之望众里寻他我已不再酒醒只在花前坐酒醉还来花下眠人面桃花山河入梦春尽江南富强民主文明和谐自由平等公正法治爱国敬业诚信友善酒池肉林日夜笙歌依翠偎红五音六律目营心匠桀骜不羁吾生有涯愿无尽心期填海力移山路为纸地成册行作笔心当墨思无界行有疆本是浪蝶游蜂自留半亩石池但求直抒胸臆挥墨迈步九云之中，、 */
@font-face {
  font-family: 'webfont-bolder';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_ij0tub8wqbs.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_ij0tub8wqbs.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_ij0tub8wqbs.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_ij0tub8wqbs.woff') format('woff'),
    /* chrome、firefox */ url('//at.alicdn.com/t/webfont_ij0tub8wqbs.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/webfont_ij0tub8wqbs.svg#Alibaba-PuHuiTi-Bold') format('svg'); /* iOS 4.1- */
}
