@use './base/variables' as *;

@font-face {
  font-family: SpecialSymbol;
  src: local('PingFang SC'), local('Microsoft Yahei');
  unicode-range: U+02C2, U+02C3, U+003C, U+003E, U+3009;
}

@font-face {
  font-display: swap;
  font-family: Monda;
  src: global.surl('/fonts/Monda-Regular.ttf');
  unicode-range: U+21-3B, U+3D, U+3F-5F, U+61-7D;
}

@font-face {
  font-display: swap;
  font-family: DINRegular;
  src: global.surl('/fonts/DIN-Regular.ttf');
  // CSS Unicode Range Generator https://codepen.io/elifitch/pen/Ljqway
  // abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/.=-;',?!#@$%^&*()_+\|:"[]{}
  unicode-range: U+21-3B, U+3D, U+3F-5F, U+61-7D;
}

@font-face {
  font-display: swap;
  font-family: 'SFMono-Regular';
  src: global.surl('/fonts/SFMonoRegular.otf') format('opentype');
}

// 阿里巴巴普惠体 2.0 65 Medium
// https://www.iconfont.cn/fonts/detail?cnid=adI1E7HF7yme
// https://translate.google.com/?sl=zh-CN&tl=zh-TW&op=translate
// ，、；。足下何人 来此作甚 | 此心光明 亦复何言 | 大千同在 万象共栖 | 广行饶益 利乐有情 | 山河入梦 春尽江南 | 出入平等 了了分明 | 随喜一念 各得其安 | 旷古无两 数字典藏
// ，、；。足下何人 來此作甚 | 此心光明 亦復何言 | 大千同在 萬象共棲 | 廣行饒益 利樂有情 | 山河入夢 春盡江南 | 出入平等 了了分明 | 隨喜一念 各得其安 | 曠古無兩 數字典藏
@font-face {
  font-family: 'webfont-medium';
  font-display: swap;
  src:
    global.surl('/webfont-medium/font.woff2?v=260109') format('woff2'),
    global.surl('/webfont-medium/font.woff?v=260109') format('woff');
}

// 阿里巴巴普惠体 2.0 95 ExtraBold
// https://www.iconfont.cn/fonts/detail?cnid=adI1E7HF7yme
// https://translate.google.com/?sl=zh-CN&tl=zh-TW&op=translate
// ，、；。明殿 无梦寺 不二门 工巧 大千界 觉有情 狂浪生 四方馆 一切藏 客户端 随喜 | 布施持戒忍辱精进禅定般若 | 本是浪蝶游蜂 自留半亩石池 但求直抒胸臆 挥墨九云之中 本为蝶蜂 自筑石池 但求抒臆 挥墨云中
// ，、；。明殿 無夢寺 不二門 工巧 大千界 覺有情 狂浪生 四方館 一切藏 客戶端 隨喜 | 布施持戒忍辱精進禪定般若 | 本是浪蝶遊蜂 自留半畝石池 但求直抒胸臆 揮墨九雲之中 本為蝶蜂 自築石池 但求抒臆 揮墨雲中
@font-face {
  font-family: 'webfont-bolder';
  font-display: swap;
  src:
    global.surl('/webfont-bolder/font.woff2?v=260109') format('woff2'),
    global.surl('/webfont-bolder/font.woff?v=260109') format('woff');
}
