.swiper-wrapper {
  z-index: $z-index-normal + 1;
}

.swiper-pagination {
  z-index: $z-index-normal + 2;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: $z-index-normal + 3;
}

.swiper-pagination-bullet {
  border-radius: $xs-radius !important;
  transition: all $transition-time-fast;
  &:hover {
    opacity: 0.8;
  }
}
