@use './base/variables' as *;
@use './base/functions' as funs;
@use './base/mixins' as mix;
@use './base/themes' as themes;
@use '/src/effects/highlight/theme.scss' as highlight;

:root {
  color-scheme: light dark;
  background-color: $body-bg;

  // theme
  &[data-theme='light'] {
    color-scheme: light;
    @include themes.appLightTheme();
    @include highlight.highlightLightTheme();
  }

  &[data-theme='dark'] {
    color-scheme: dark;
    @include themes.appDarkTheme();
    @include highlight.highlightDarkTheme();
  }

  // device
  &[data-device='desktop'] {
    .container {
      width: $container-width;
      margin: 0 auto;
    }
  }

  &[data-device='mobile'] {
    .container {
      width: 100%;
    }
  }
}

body {
  color: $color-text;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: $font-size-base;
  font-family: $font-family-normal;
  line-height: $line-height-base;
  user-select: none;
  // MARK: keep false
  // scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // WORKAROUND: for Google AdSense layout
  position: relative !important;
  // https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering
  // text-rendering: optimizeLegibility;
  // iOS reflow: https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

[hidden],
[v-cloak] {
  display: none !important;
}

input {
  &::placeholder {
    text-indent: 0.5em;
    text-transform: capitalize;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px $white inset;
}

::selection,
::-moz-selection,
::-webkit-selection {
  background: $primary;
  color: $color-text-reversal;
}

.radio,
.checkbox {
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.iconfont {
  font-size: 1em;
}

.placeholder {
  color: $color-text-secondary;
}

.mammon-box {
  width: 100%;
  height: auto;
  position: relative;

  &::before {
    content: attr(placeholder);
    position: absolute;
    text-align: center;
    font-size: $font-size-h1;
    font-weight: bold;
    color: $color-text-divider;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: $z-index-underground;
    letter-spacing: 0.2em;
    transform: translate(-50%, -50%);
  }
}

// for module transition
.module-enter-active,
.module-leave-active {
  transition: opacity $motion-duration-mid ease;
}
.module-slow-enter-active,
.module-slow-leave-active {
  transition: opacity $motion-duration-slow ease;
}
.module-enter-from,
.module-leave-to,
.module-slow-enter-from,
.module-slow-leave-to {
  opacity: 0;
}

// for page transition
.page-enter-active,
.page-leave-active {
  transition:
    width 0s,
    opacity $motion-duration-fast * 0.3 linear;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

// for list transition
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all $motion-duration-mid ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(1rem);
}

// for client only component transition
.client-only-enter-active {
  transition: opacity $motion-duration-mid linear !important;
}
.client-only-leave-active {
  transition: opacity $motion-duration-mid * 0.6 linear !important;
}
.client-only-enter-from,
.client-only-leave-to {
  opacity: 0 !important;
}
