
@import 'src/assets/styles/init.scss';

.markdown-content.comment {
  margin: $sm-gap 0;
  line-height: 2em;
  word-wrap: break-word;
  font-size: $font-size-h6;

  a {
    text-decoration: underline;
  }

  img {
    margin: .5rem 0;
    max-width: 100%;
    border-radius: 2px;
    cursor: pointer;
  }

  p {
    margin: 0;
  }

  code {
    color: #bd4147;
    padding: .3em .5em;
    margin: 0 .5em;
    border-radius: $xs-radius;
    background-color: $module-bg-hover;
  }

  pre {
    $code-header-height: 2.8rem;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap-reverse;
    position: relative;
    overflow: hidden;
    margin-top: .6em;
    margin-bottom: 1em;
    padding-top: $code-header-height;
    border-radius: $xs-radius;
    background-color: rgba(0, 0, 0, 0.8);

    &:before {
      color: $white;
      content: attr(data-lang)" CODE";
      height: $code-header-height;
      line-height: $code-header-height;
      font-size: $font-size-h6;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      font-weight: 700;
      background-color: rgba(68, 68, 68, 0.9);
      display: block;
      text-transform: uppercase;
      text-align: center;
    }

    > .code-lines {
      display: none;
    }

    > code {
      margin: 0;
      padding: 1rem;
      float: left;
      width: 100%;
      height: 100%;
      display: block;
      font-size: $font-size-h6;
      line-height: 1.8rem;
      color: rgba(255, 255, 255, 0.87);
      background-color: transparent;
    }
  }
}
