@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

p.verse {
  text-indent: $font-size-base * 2;

  &[zh]:not([heading]) {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: from-font;
    text-underline-offset: $sm-gap;
    text-decoration-color: $text-disabled;
  }

  &[heading] {
    font-weight: 700;
    font-size: $font-size-h3;
  }

  &[py] {
    margin-bottom: 0;
    font-weight: lighter;
    font-family: monospace;
    font-size: $font-size-small;
    color: $text-secondary;
  }
}
