@use '/src/styles/base/variables' as *;

p.verse {
  text-indent: calc(var(--markdown-font-size) * 2);

  &[heading] {
    font-size: $font-size-h3;
    font-weight: 700;
    letter-spacing: 0.1em;
  }

  &[zh] {
    font-weight: 700;
    letter-spacing: 0.25em;
    text-emphasis-style: '•';
    text-emphasis-position: under;
  }

  &[py] {
    margin-bottom: 0;
    font-weight: lighter;
    font-family: $font-family-monospace;
    font-size: $font-size-h6;
    color: $color-text-secondary;
  }
}
