@use '/src/styles/base/variables' as *;

p.verse {
  text-indent: $font-size-base * 2;

  &[zh]:not([heading]) {
    font-weight: 700;
    text-emphasis-style: '•';
    text-emphasis-position: under;
  }

  &[heading] {
    font-weight: 700;
    font-size: $font-size-h3;
  }

  &[py] {
    margin-bottom: 0;
    font-weight: lighter;
    font-family: $font-family-monospace;
    font-size: $font-size-h6;
    color: $color-text-secondary;
  }
}
