main,
header,
footer,
article,
section,
aside,
details,
summary {
  margin: 0 auto;
  // margin-bottom: $md-pad;
  width: 100%;
}

main {
  display: block;
  margin: 0 auto;
  width: $large-breakpoint;
}

footer {
  border-top: $border;
  clear: both;
  display: inline-block;
  float: left;
  max-width: 100%;
  padding: $md-pad 0;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

hr {
  border-top: $border;
  display: block;
  margin-bottom: $md-pad;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

@media screen and (max-width: $small-breakpoint) {
  article,
  section,
  aside {
    clear: both;
    display: block;
    max-width: 100%;
  }

  img {
    margin-right: $md-pad;
  }
}
