input[type=submit],
input[type=reset],
button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
}

input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
}

input[type=submit]:active,
input[type=reset]:active,
button:active {
  outline-offset: -2px;
}

input[type=submit]:focus,
input[type=reset]:focus,
button:focus {
  outline: 0;
}

input[type=submit]:disabled,
button:disabled {
  color: $disabled;
  cursor: not-allowed;
}
