@use '/src/styles/base/variables' as *;

.global-loading-indicator {
  display: flex;
  align-items: center;

  &.gap-default {
    #{--indicator-gap}: $gap;
  }
  &.gap-lg {
    #{--indicator-gap}: $gap-lg;
  }
  &.gap-sm {
    #{--indicator-gap}: $gap-sm;
  }
  &.gap-xs {
    #{--indicator-gap}: $gap-xs;
  }
  &.gap-tiny {
    #{--indicator-gap}: $gap-tiny;
  }

  &.radius-tiny {
    #{--indicator-radius}: $radius-tiny;
  }
  &.radius-xs {
    #{--indicator-radius}: $radius-xs;
  }
  &.radius-sm {
    #{--indicator-radius}: $radius-sm;
  }
  &.radius-md {
    #{--indicator-radius}: $radius-md;
  }

  @keyframes loading-indicator {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  > div {
    width: var(--indicator-width);
    height: var(--indicator-height);
    margin-right: var(--indicator-gap);
    border-radius: var(--indicator-radius);
    animation: loading-indicator 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    &:nth-child(1) {
      background: $module-bg-darker-3;
      animation-delay: -0.6s;
    }
    &:nth-child(2) {
      background: $module-bg-darker-3;
      animation-delay: -0.4s;
    }
    &:nth-child(3) {
      background: $module-bg-darker-4;
      animation-delay: -0.2s;
    }
    &:nth-child(4) {
      margin-right: 0;
      background: $module-bg-darker-3;
      animation-delay: -1s;
    }
  }
}
