@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.global-loading-indicator {
  display: flex;
  align-items: center;

  @keyframes loading-indicator {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  > div {
    width: var(--indicator-width);
    height: var(--indicator-height);
    margin: 0 var(--indicator-gap);
    border-radius: var(--indicator-radius);
    animation: loading-indicator 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    &:nth-child(1) {
      background: $module-bg-darker-3;
      animation-delay: -0.6s;
    }
    &:nth-child(2) {
      background: $module-bg-darker-3;
      animation-delay: -0.4s;
    }
    &:nth-child(3) {
      background: $module-bg-darker-4;
      animation-delay: -0.2s;
    }
    &:nth-child(4) {
      background: $module-bg-darker-3;
      animation-delay: -1s;
    }
  }
}
