
body {
  color: $text;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  padding-top: $navbar-height + 1em;
  -webkit-font-smoothing: antialiased;

  &.mobile {
    padding-top: 0;
    overflow-x: hidden;
    background-color: rgba(197, 197, 197, 0.5);
  }
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.iconfont {
  font-size: 1em;
}

*, *:hover {
  @include transition(
    background-color $transition-time-normal linear,
    color .05s linear,
    margin $transition-time-normal linear,
    opacity $transition-time-normal linear,
    filter $transition-time-normal linear,
    visibility $transition-time-normal linear,
    transform $transition-time-normal linear
  );
}

::selection {
  background: $primary; 
  color: $reversal;
}

::-moz-selection {
  background: $primary; 
  color: $reversal;
}

::-webkit-selection {
  background: $primary; 
  color: $reversal;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  background: hsla(0, 0%, 100%, 0.6);
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95,95,95,.4);
  transition: background-color .15s;

  &:hover {
    background-color: rgba(95,95,95, .7);
  }
}

input {
  &::placeholder {
    text-indent: .5em;
    font-size: $font-size-small;
    text-transform: capitalize;
  }
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgb(230, 230, 230) inset; 
}

.radio, .checkbox {
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

// filters
.filter {

  &.motion-blur-horizontal {
    filter: url('https://surmon.me/images/motion-blur-filter.svg#horizontal');
  }

  &.motion-blur-horizontal-small {
    filter: url('https://surmon.me/images/motion-blur-filter.svg#horizontal-small');
  }

  &.motion-blur-vertical {
    filter: url('https://surmon.me/images/motion-blur-filter.svg#vertical');
  }

  &.motion-blur-vertical-small {
    filter: url('https://surmon.me/images/motion-blur-filter.svg#vertical-small');
  }
}

// mammon
.mammon {
  width: 100%;
  height: auto;
  position: relative;

  &.mammon-article {
    padding: 1em;

    > .mammon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 6rem;
      overflow: hidden;

      > .adsbygoogle {
        width: 100%;
        height: 70px;
      }
    }
  }

  &.mammon-archive {
    margin-bottom: 1em;

    > .mammon-wrapper {
      min-height: 7rem;
      padding: .5em;
      background-color: $module-bg;

      > .adsbygoogle {
        margin: 1rem 0;
        min-height: 88px;
        height: auto;
      }
    }

    &.mobile {

      > .mammon-wrapper {
        padding: 1rem;
  
        > .adsbygoogle {
          margin: 0;
          height: 6rem;
        }
      }
    }
  }
}

.mammon-wrapper {
  position: relative;

  &:before {
    content: '向我的衣食父母鞠躬';
    position: absolute;
    text-align: center;
    font-size: $font-size-h1;
    font-weight: bold;
    color: $dividers;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -1;
    letter-spacing: .5rem;
    transform: translate(-50%, -50%);
  }
}

// popup component
#image-popup,
#iframe-popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all .08s;
  background-color: transparent;
  // @include backdrop-blur();

  > img,
  > iframe {
    transform: scale(.8);
    transition: all .08s;
    min-width: 20%;
    min-height: 20%;
    background-color: rgba(210, 210, 210, 0.3);
    border: .5em solid rgba(210, 210, 210, 0.5);

    &.sponsor {
      width: 600px;
      height: 200px;
    }
  }

  > img {
    max-width: 90%;
    max-height: 90%;
  }
  
  > iframe {
    width: 90%;
    height: 90%;
  }

  &.display {
    opacity: 1;
    visibility: visible;
    transition: all .08s;
    background-color: rgba(80, 80, 80, 0.5);

    > img,
    > iframe {
      transform: scale(1);
      transition: all .08s;
    }
  }
}

// share component
#share {

  &.article {

    > .share-base {
      opacity: .6;
      display: flex;
      justify-content: space-between;

      &.mobile {

        >.share-ejector {
          width: calc((100% - (1em * 2)) / 3);
        }
      }

      &:hover {
        opacity: 1;
      }

      > .share-ejector {
        width: calc((100% - (1em * 9)) / 10);
        height: 2.5em;
        line-height: 2.5em;
        background-color: $body-bg;

        > .iconfont {
          font-size: 1.2em;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &.sidebar {
    position: fixed;
    top: 16%;
    left: 0;
    width: 4em;

    > .share-base {
      opacity: .4;

      &:hover {
        opacity: 1;
      }

      > .share-ejector {
        width: 3em;
        height: 2.5em;
        line-height: 2.6em;

        > .iconfont {
          font-size: 1.3em;
        }

        &.renren,
        &.evernote,
        &.linkedin,
        &.mail {
          display: none;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// swiper
.swiper-wrapper {
  z-index: 1;
}

.swiper-pagination {
  z-index: 2;
}

.swiper-pagination-bullet {
  transition: width $transition-time-normal, height $transition-time-normal, border-radius $transition-time-normal;

  &.swiper-pagination-bullet-active {
    opacity: .8;
    background: $reversal;
  }
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 3;
}

.slide-up-enter-active, .slide-up-leave-active {
  transition: all $transition-time-slow cubic-bezier(0, 1.2, 1, 0.5);
  opacity: .7;
  transform: translate3d(0, 4em, 0);
}
.slide-up-enter, .slide-up-leave-active {
  opacity: .3;
  transform: translate3d(0, 4em, 0);
}

.slide-left-enter-active, .slide-left-leave-active {
  transition: all $transition-time-normal cubic-bezier(0, 1.2, 1, 0.5);
  opacity: .5;
  transform: translate3d(2em, 0, 0);
}

.slide-left-enter, .slide-left-leave-active {
  opacity: .3;
  transform: translate3d(2em, 0, 0);
}

.slide-right-enter-active, .slide-right-leave-active {
  transition: all $transition-time-slow cubic-bezier(0, 1.2, 1, 0.5);
  opacity: .5;
  transform: translate3d(5em, 0, 0);
}
.slide-right-enter, .slide-right-leave-active {
  opacity: .3;
  transform: translate3d(5em, 0, 0);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity $transition-time-normal;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.fade-move {
  transition: transform $transition-time-normal;
}

.page-enter-active, .page-leave-active {
  transition: opacity $transition-time-normal;
}
.page-enter, .page-leave-active {
  opacity: 0
}

.module-enter-active, .module-leave-active {
  transition: opacity $transition-time-normal;
}
.module-enter, .module-leave-active {
  opacity: 0
}

.aside-enter-active {
  transition: opacity $transition-time-normal cubic-bezier(1, -1.17, 1, -1.17);
}
.aside-leave-active {
  transition: opacity 0s;
}
.aside-enter, .aside-leave-active {
  opacity: 0
}
