
@import url('//at.alicdn.com/t/font_64825_1sug386ubri.css');

@font-face {
  font-family: SpecialSymbol;
  src: local('PingFang SC'), local('Microsoft Yahei');
  unicode-range: U+02C2, U+02C3, U+003C, U+003E, U+3009;
}

@font-face {
  font-family: DINRegular;
  src: cdn-url('/fonts/DIN-Regular.ttf');
  // CSS Unicode Range Generator https://codepen.io/elifitch/pen/Ljqway
  // abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/.=-;',?!#@$%^&*()_+\|:"[]{}
  unicode-range: U+21-3B,U+3D,U+3F-5F,U+61-7D;
}

// 为我一挥手，如听万壑松
@font-face {
  font-family: 'webfont-bold';
  src: url('//at.alicdn.com/t/webfont_la9ko9ixhv8.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_la9ko9ixhv8.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_la9ko9ixhv8.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_la9ko9ixhv8.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_la9ko9ixhv8.svg#思源黑体-粗') format('svg'); /* iOS 4.1- */
}

// 欢喜勇猛向死而生明殿宁静寺琼宝阁无色庵乐斋狂浪生德道百鸣苑淘抢购弹性主机客户端來蘇之望念狂夢猖
@font-face {
  font-family: 'webfont-normal';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_ho87xf2su1j.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_ho87xf2su1j.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_ho87xf2su1j.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_ho87xf2su1j.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_ho87xf2su1j.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_ho87xf2su1j.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
}

/* 为我一挥手，如听万壑松众里寻他我已不再酒醒只在花前坐酒醉还来花下眠人面桃花山河入梦春尽江南富强民主文明和谐自由平等公正法治爱国敬业诚信友善浪蝶游蜂迈步九云中酒池肉林日夜笙歌依翠偎红五音六律目营心匠桀骜不羁吾生有涯愿无尽，心期填海力移山 */
@font-face {
  font-family: 'webfont-bolder';
  src: url('//at.alicdn.com/t/webfont_mxaab9ec8dl.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_mxaab9ec8dl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_mxaab9ec8dl.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_mxaab9ec8dl.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_mxaab9ec8dl.svg#NotoSansHans-Black') format('svg'); /* iOS 4.1- */
}
