
@import url('//at.alicdn.com/t/font_64825_p50zv6pfsgc.css');

@font-face {
  font-family: SpecialSymbol;
  src: local('PingFang SC'), local('Microsoft Yahei');
  unicode-range: U+02C2, U+02C3, U+003C, U+003E, U+3009;
}

@font-face {
  font-family: DINRegular;
  src: cdn-url('/fonts/DIN-Regular.ttf');
  // CSS Unicode Range Generator https://codepen.io/elifitch/pen/Ljqway
  // abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/.=-;',?!#@$%^&*()_+\|:"[]{}
  unicode-range: U+21-3B,U+3D,U+3F-5F,U+61-7D;
}

@font-face {
  font-family: 'SFMono-Regular';
  src: cdn-url('/fonts/SFMonoRegular.otf') format('opentype');
}

// 阿里巴巴-普惠体-Regular
// 欢喜勇猛向死而生明殿宁静寺丹青阁无色庵乐斋狂浪生德道四方馆淘抢购弹性主机客户端來蘇之望念狂夢猖为我一挥手如临万壑松，、；。
@font-face {
  font-family: 'webfont-normal';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_cl1vbhkbv1f.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_cl1vbhkbv1f.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_cl1vbhkbv1f.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_cl1vbhkbv1f.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_cl1vbhkbv1f.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_cl1vbhkbv1f.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
}

/* 众里寻他我已不再酒醒只在花前坐酒醉还来花下眠人面桃花山河入梦春尽江南富强民主文明和谐自由平等公正法治爱国敬业诚信友善浪蝶游蜂迈步九云中酒池肉林日夜笙歌依翠偎红五音六律目营心匠桀骜不羁吾生有涯愿无尽心期填海力移山路为纸地成册行作笔心当墨思无界行有疆，、 */
@font-face {
  font-family: 'webfont-bolder';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_cdjvviqa57s.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_cdjvviqa57s.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_cdjvviqa57s.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_cdjvviqa57s.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_cdjvviqa57s.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_cdjvviqa57s.svg#Alibaba-PuHuiTi-Bold') format('svg'); /* iOS 4.1- */
}
