<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>aside-mammon-jd</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      body {
        margin: 0;
      }
      .content {
        width: 250px;
        height: 250px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <!-- https://union.jd.com/proManager/custompromotion -->
      <script type="text/javascript">
        var jd_union_unid = '1001306339',
          jd_ad_ids = '520:6',
          jd_union_pid = 'CJ6K3YPpLhDj8brdAxoAIJP/hpgLKgA='
        var jd_width = 250
        var jd_height = 250
        var jd_union_euid = ''
        var p =
          'ABMGVxhTFwMTD2VEH0hfIlgRRgYlXVZaCCsfSlpMWGVEH0hfInE2SA9gckdjN00LEUkQQ1JdM1RyEEFZF2sQAhMGVh9TEQUbN1UaWhUAEwBXGVMlMk1DCEZrXmwTNwpfBkgyEgBUEl0QAhYGUBhTETITN2Ur'
      </script>
      <script type="text/javascript" charset="utf-8" src="//u-x.jd.com/static/js/auto.js"></script>
    </div>
  </body>
</html>
