@use 'variables' as vars;
@use 'functions' as funs;

@mixin css-var(
  $theme-text,
  $theme-link,
  $theme-link-hover,
  $theme-white,
  $theme-black,
  $theme-primary,
  $theme-body-bg,
  $logo-rotate
) {
  #{--body-bg}: $theme-body-bg;
  #{--theme-black}: $theme-black;
  #{--theme-white}: $theme-white;
  #{--theme-logo-rotate}: $logo-rotate;

  #{--color-primary}: $theme-primary;
  #{--color-primary-lighter}: rgba($theme-primary, 0.8);
  #{--color-primary-translucent}: rgba($theme-primary, 0.5);

  #{--color-link}: $theme-link;
  #{--color-link-hover}: $theme-link-hover;

  #{--color-text}: $theme-text;
  #{--color-text-lighter}: funs.lighten($theme-text, 20%);
  #{--color-text-darker}: funs.darken($theme-text, 20%);
  #{--color-text-secondary}: rgba($theme-text, 0.5);
  #{--color-text-disabled}: rgba($theme-text, 0.38);
  #{--color-text-divider}: rgba($theme-text, 0.26);
  #{--color-text-reversal}: rgba($theme-white, 0.9);

  $module-bg: rgba($theme-white, 0.6);
  $module-bg-opaque: rgba($theme-white, 1);
  #{--module-bg}: $module-bg;
  #{--module-bg-opaque}: $module-bg-opaque;
  #{--module-bg-lighter}: rgba($module-bg, 0.8);
  #{--module-bg-translucent}: rgba($module-bg, 0.5);
  #{--module-bg-darker-1}: funs.darken($module-bg-opaque, 9%);
  #{--module-bg-darker-2}: funs.darken($module-bg-opaque, 13%);
  #{--module-bg-darker-3}: funs.darken($module-bg-opaque, 19%);
  #{--module-bg-darker-4}: funs.darken($module-bg-opaque, 24%);
  #{--module-bg-darker-5}: funs.darken($module-bg-opaque, 29%);
}

@mixin appLightTheme() {
  @include css-var(
    $theme-text: rgba(#000, 0.68),
    $theme-link: rgba(#000, 0.74),
    $theme-link-hover: rgba(#000, 0.86),
    $theme-white: #fff,
    $theme-black: #000,
    $theme-primary: vars.$surmon,
    $theme-body-bg: #e3e3e3,
    $logo-rotate: none
  );
}

@mixin appDarkTheme() {
  @include css-var(
    $theme-text: #f0f0f0,
    $theme-link: rgba(#fff, 0.92),
    $theme-link-hover: #fff,
    $theme-white: #444,
    $theme-black: #fff,
    $theme-primary: #fff,
    $theme-body-bg: #000,
    $logo-rotate: hue-rotate(180deg) brightness(300%) grayscale(100%)
  );
}
