@use 'sass:math';

// colors
$surmon: #0088f5;
$black: #000000;
$white: #ffffff;
$grey: #c0c0c0;

// https://en.wikipedia.org/wiki/Buddhist_flag
// https://en.wikipedia.org/wiki/Prayer_flag
$red: #ff4d4f;
$orange: #faad14;
$green: #2e9a1a;

$ai-primary-gradient: linear-gradient(45deg, #fa4340, $surmon, #19ba64);
$user-primary-patron: $green;
$user-primary-moderator: $surmon;

// theme colors
$primary: var(--color-primary);
$primary-lighter: var(--color-primary-lighter);
$primary-translucent: var(--color-primary-translucent);

$body-bg: var(--body-bg);
$theme-black: var(--theme-black);
$theme-white: var(--theme-white);
$theme-logo-rotate: var(--theme-logo-rotate);

$module-bg: var(--module-bg);
$module-bg-hover: var(--module-bg-darker-2);
$module-bg-opaque: var(--module-bg-opaque);
$module-bg-lighter: var(--module-bg-lighter);
$module-bg-translucent: var(--module-bg-translucent);

$module-bg-darker-1: var(--module-bg-darker-1);
$module-bg-darker-2: var(--module-bg-darker-2);
$module-bg-darker-3: var(--module-bg-darker-3);
$module-bg-darker-4: var(--module-bg-darker-4);
$module-bg-darker-5: var(--module-bg-darker-5);

// text colors
$color-text: var(--color-text);
$color-text-lighter: var(--color-text-lighter);
$color-text-darker: var(--color-text-darker);
$color-text-secondary: var(--color-text-secondary);
$color-text-disabled: var(--color-text-disabled);
$color-text-divider: var(--color-text-divider);
$color-text-reversal: var(--color-text-reversal);

// link colors
$color-link: var(--color-link);
$color-link-hover: var(--color-link-hover);

// fonts
$font-family-base:
  -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'Segoe UI',
  'Microsoft YaHei', '微软雅黑', sans-serif;
$font-family-normal: SpecialSymbol, DINRegular, $font-family-base;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;

// typography
$font-size-root: 16px;
$font-size-base: 14px;
$font-size-secondary: 13.4px;
$font-size-tertiary: 12.6px;
$font-size-quaternary: 11.2px;
$font-size-quinary: 10px;

// headings
$font-size-h1: 1.5rem; // 24px
$font-size-h2: 1.25rem; // 20px
$font-size-h3: 1.125rem; // 18px
$font-size-h4: 1rem; // 16px
$font-size-h5: 0.875rem; // 14px
$font-size-h6: 0.75rem; // 12px

// line-heights
$line-height-base: 1.4;
$line-height-tight: 1.25;
$line-height-loose: 1.86;

// spacing
$gap: 1rem; // 16px
$gap-lg: 1.5rem; // 24px
$gap-sm: 0.75rem; // 12px
$gap-xs: 0.5rem; // 8px
$gap-tiny: 0.25rem; // 4px

// radius
$radius-tiny: 2px;
$radius-xs: 4px;
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 20px;

// durations
$motion-duration-fast: 0.1s;
$motion-duration-mid: 0.25s;
$motion-duration-slow: 0.36s;

// Z index
$z-index-navigation-progress: 999999;
$z-index-top: 99999;
$z-index-header: 999;
$z-index-toolbox: 9;
$z-index-normal: 0;
$z-index-underground: -1;

// desktop
$header-height: 3.8rem;
$footer-height: 5rem;
$container-width: 1050px;
$navbar-width: 10rem;
$sidebar-width: 274px; // 274px = 250px + 12px + 12px
$full-column-page-banner-height: 20rem;
$full-page-content-height: calc(100vh - #{$header-height + $footer-height});

// mobile
$mobile-header-height: 3.8rem;
$mobile-banner-height: 12rem;
$mobile-footer-height: 3.4rem;
$mobile-drawer-bg: #34393d;
$mobile-drawer-transition: all $motion-duration-slow ease-out;
$mobile-page-content-height: calc(100vh - #{$mobile-header-height + $mobile-footer-height + $gap * 2});

// breakpoints
$breakpoint-small: 400px;
$breakpoint-large: $container-width;

// brands
$rss-primary: #f8981d;
$html5-primary: #d45835;
$nodejs-primary: #43853d;
$disqus-primary: #2e9fff;
$whatsapp-primary: #25d366;
$wechat-primary: #55be69;
$wechat-channel-primary: #fa9d3b;
$weibo-primary: rgb(230, 22, 45);
$qzone-primary: rgb(43, 130, 217);
$opensea-primary: rgb(32 129 226);
$evernote-primary: rgb(85, 182, 25);
$facebook-primary: rgb(59, 89, 152);
$telegram-primary: #54a5dd;
$douban-primary: #00b51d;
$bing-primary: #01809e;
$discord-primary: #5865f2;
$stackoverflow-primary: #e6863d;
$leetcode-primary: #fea116;
$quora-primary: #b92b27;
$linkedin-primary: #478cc5;
$spotify-primary: #1db954;
$music163-primary: #c20c0c;
$youtube-primary: #ec3323;
$paypal-primary: #4599d2;
$paypal-primary-hover: #293a7c;
$twitter-primary: #1b95e0;
$twitter-primary-hover: #0c7abf;
$twitter-x-primary: #000000;
$twitter-x-primary-hover: #181919;
$threads-primary: #050505;
$zhihu-primary: #1772f6;
$zhihu-primary-hover: oklch(from $zhihu-primary calc(l * 0.92) c h);
$npm-primary: #bb161b;
$github-primary: #24282d;
$github-primary-hover: #000;
$github-sponsor-primary: #ea4aaa;
$instagram-primary: #ed4956;
$instagram-gradient: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
